---
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<meta charset="UTF-8" />
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />

<title>{title}</title>

<!-- Theme support -->
<script is:inline>
  function setTheme() {
    const savedTheme = localStorage.getItem('theme')
    const prefersDark = window.matchMedia(
      '(prefers-color-scheme: dark)'
    ).matches
    const theme = savedTheme || (prefersDark ? 'dark' : 'light')

    document.documentElement.classList.toggle('dark', theme === 'dark')
    localStorage.setItem('theme', theme)
  }

  setTheme()
  document.addEventListener('astro:after-swap', setTheme)
</script>

<!-- Google tag (gtag.js) -->
<script is:inline src="https://www.googletagmanager.com/gtag/js?id=G-1B9R5ZS2XN"></script>
<script is:inline type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  window.gtag = function(){
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'G-1B9R5ZS2XN');
</script>
